.mainHeading {
  font-size: 2.5rem;
  color: #6c2bd9;
  font-weight: 600;
  margin-bottom: 20px;
}

.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 20px;
}

.header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconSection img {
  margin-left: 20px;
  cursor: pointer;
}

.mainContent {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}


.illustration {
  margin: 20px 0;
}

.description {
  font-size: 1rem;
  color: #777;
  max-width: 900px;
  margin-bottom: 30px;
}

.createProjectButton {
  background-color: #2b0a3d;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 230px;
  gap: 8px;
}

.createButton:hover {
  background-color: #4b0a8d;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.createNewProjectButton {
  background-color: #6a0dad;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {

  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modalContent h2 {

  margin-top: 0;
}

.modalItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;



}

.modalContent input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.errorText {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancelButton {
  background: none;
  color: red;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.createButton {
  background: #6a0dad;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.headingCreate {
  margin-bottom: 20px;
}